{% extends "index.html" %}
{% block stylesheet %}
    <style type="text/css">
body {
  font-family: Verdana, Helvetica, sans-serif;
  /*
  background-color: #DDDDDD;
  */
}

div#overlay { 
	width:94%;
}

div#record table { 
	width:100%;
}

div#record table th { 
	text-align:left;
}
    </style>
{% endblock stylesheet %}
{% block logos %}
{% endblock logos %}
{% block debug %}
{% endblock debug %}
{% block sessionctrl %}
{% endblock sessionctrl %}
{% block problemset %}
{% endblock problemset %}
{% block report %}
{% endblock report %}
{% block keypad %}
{% endblock keypad %}
{% block panels %}
{% endblock panels %}
{% block controls %}
{% endblock controls %}
<!-- block record -->
{% block overlay %}
{% endblock overlay %}
